<div ng-include src="'views/header.html'"></div>
<div ng-controller="dashboardController as DC">
	<form>
		
		<p> Search: <input type="text" ng-model="Search">
	</form>
	
	<table class="table">
		<thead>
			<tr>
				<th> Name</th>
				<th> Survey Question </th>
				<th> Date Posted </th>
				<th> Action </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="poll in DC.polls | filter:Search ">

				<td> {{ poll._user.username }}</td>
				<td> <a href="#/poll/{{poll._id}} "> {{ poll.question }} </a></td>
				<td> {{poll.createdAt | date: 'MMMM, dd yyyy'}} </td>
				<td >  <button ng-click="DC.delete(poll)" class="btn btn-primary"> Delete </a> </td>
			</tr>

		</tbody>
	</table>

</div>
